@font-face {
    font-family: "MuseoModerno";
    src: url(../fonts/MuseoModerno-Regular.ttf);
}
@font-face {
    font-family: "MuseoModerno-Bold";
    src: url(../fonts/MuseoModerno-Bold.ttf);
}
@font-face {
    font-family: "MuseoModerno-Light";
    src: url(../fonts/MuseoModerno-Light.ttf);
}
@font-face {
    font-family: "MuseoModerno-Medium";
    src: url(../fonts/MuseoModerno-Medium.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular);
}
