@import "./base/_reset";
@import "./base/_fonts";
@import "./blocks/_promo";
@import "./blocks/header";
@import "./blocks/buttons";
@import "./blocks/benefits";

body {
    font-family: "MuseoModerno", sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import "./base/_media";
