.consultation {
    min-height: 680px;
    padding: 100px 0px 92px 0px;
    background: url(../img/bg2.png) center (center/cover) no-repeat;
    &__descr {
        color: #ffff;
        font-size: 20px;
        font-weight: 400;
    }
    .error {
        border: 1px solid red;
        padding-bottom: 15px;
    }
    label.error {
        border: none;
        text-align: center;
        color: #ffff;
    }
}
